<div class="col-sm-10">
    <h1>Find a book</h1>
    <p>Use one of the search options below</p>

    <form action="#" th:action="@{/id}" th:object="${book}" method="get" class="form-inline">
        <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label" for="id">ID</label>
            <div class="col-sm-8">
                <input type="number" th:field="*{id}" class="form-control" placeholder="ID">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Find</button>
            </div>
        </div>
    </form>

    <form action="#" th:action="@{/title}" th:object="${book}" method="get" class="form-inline">
        <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label" for="title">Title</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{title}" class="form-control" placeholder="Title">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Find</button>
            </div>
        </div>

    </form>

    <form action="#" th:action="@{/author}" th:object="${book}" method="get" class="form-inline">
        <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label" for="author">Author</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{author}" class="form-control" placeholder="Author">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Find</button>
            </div>
        </div>
    </form>

    <form action="#" th:action="@{/year}" th:object="${book}" method="get" class="form-inline">
        <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label" for="year-published">Year Published</label>
            <div class="col-sm-8">
                <!-- <div class="col-sm-10-text">@</div> -->
                <input type="number" th:field="*{publishedYear}" class="form-control" placeholder="Year Published">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Find</button>
            </div>
        </div>
    </form>

    <form action="#" th:action="@{/genre}" th:object="${book}" method="get" class="form-inline">
        <div class="form-group row mb-3">
            <label class="col-sm-2 col-form-label" for="genre">Genre</label>
            <div class="col-sm-8">
                <!-- <div class="col-sm-10-text">@</div> -->
                <input type="text" th:field="*{genre}" class="form-control" placeholder="Genre">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Find</button>
            </div>
        </div>
    </form>
</div>