<div class="col-sm-10">
    <h1>Find a book</h1>
    <p>Use one of the search options below</p>

    <form action="#" th:action="@{/id}" th:object="${book}" method="get"
        class="row row-cols-lg-auto g-3 align-items-center mb-3">
        <div class="col-12">
            <label class="visually-hidden" for="id">ID</label>
            <div class="input-group">
                <input type="number" th:field="*{id}" class="form-control" placeholder="ID">
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Find</button>
        </div>
    </form>
    <form action="#" th:action="@{/title}" th:object="${book}" method="get"
        class="row row-cols-lg-auto g-3 align-items-center mb-3">
        <div class="col-12">
            <label class="visually-hidden" for="title">Title</label>
            <div class="input-group">
                <input type="text" th:field="*{title}" class="form-control" placeholder="Title">
            </div>
        </div>
        <!-- Need to update below searches. Should look at returning a list. And then maybe adding edit buttons there -->
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Find</button>
        </div>
    </form>

    <form class="row row-cols-lg-auto g-3 align-items-center mb-3">
        <div class="col-12">
            <label class="visually-hidden" for="author">Author</label>
            <div class="input-group">
                <!-- <div class="input-group-text">@</div> -->
                <input type="text" class="form-control" placeholder="Author">
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Find</button>
        </div>
    </form>

    <form class="row row-cols-lg-auto g-3 align-items-center mb-3">
        <div class="col-12">
            <label class="visually-hidden" for="year-published">Year Published</label>
            <div class="input-group">
                <!-- <div class="input-group-text">@</div> -->
                <input type="text" class="form-control" placeholder="Yeah Published">
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Find</button>
        </div>
    </form>

    <form class="row row-cols-lg-auto g-3 align-items-center mb-3">
        <div class="col-12">
            <label class="visually-hidden" for="genre">Genre</label>
            <div class="input-group">
                <!-- <div class="input-group-text">@</div> -->
                <input type="text" class="form-control" placeholder="Genre">
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Find</button>
        </div>
    </form>
</div>