<div class="col-sm-2">
    <ul class="sidebar-nav">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/all">All books</a>
        </li>
        <li>
            <a href="/find">Find book</a>
        </li>
        <li>
            <hr>
        </li>
        <li>
            <a href="/create">Add book</a>
        </li>
        <li>
            <a href="http://">Update book</a>
        </li>
        <li>
            <a href="http://">Delete book</a>
        </li>
    </ul>
</div>